$white: hsl(0, 0%, 100%);
$lightPink: hsl(275, 100%, 97%);
$grayishPurple: hsl(292, 16%, 49%);
$darkPurple: hsl(292, 42%, 14%);

@mixin flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

body {
    background-color: $lightPink;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    background-image: url('../public/images/background-pattern-mobile.svg');
    background-repeat: repeat-x;
    background-size: auto;
}

main {
    border: 2px solid $white;
    background-color: $white;
    border-radius: 15px;
    padding: 30px 25px 22px 25px; 
    margin: 200px auto;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    border-bottom: 1.5px solid $lightPink;
    &:last-child {
        border-bottom: none;
    }
}

.header {
    @include flex();
    gap: 18px;
    h1 {
        font-weight: 700;
        margin: 0
    }

    .icon {
        width: 25px;
        height: 25px;
    }
}

.question-container {
    @include flex();
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 0;
}

.question {
    font-weight: 700;
    margin: 20px 50px 20px 0;
    &:hover {
        color: #ad28eb;
    }
}

.answer {
    margin: 0 0 20px 0;
    font-weight: 400;
    line-height: 1.5;
    color: $grayishPurple;
}

.answer-container {
    max-width: 100%;
}


@media screen and (min-width: 1024px) {
    body {
        background-image: url('../public/images/background-pattern-desktop.svg');
    }

    main {
        width: 520px;
        padding: 53px 38px 44px 38px;
    }

    .header {
        h1 {
            font-size: 40px;
        }
    
        .icon {
            width: 38px;
            height: 38px;
        }
    }
    
}